.bodyBg{
    background-color: rgb(31, 41, 55);
}

.upperBodyDark{

    background-color: rgb(75, 85, 99);


}

.navigationBar{

    background-color: rgb(75, 85, 99);



}

.upperDeviceSection{

    background-color: rgb(75, 85, 99);

}

.textDarkMode{
    color: #EEEEEE;
}

.devices{
    background-color: rgb(222,200,170);
}
